<footer>
  <div class="container">
    <div class="border-top border-neutral-300">
      <p class="text-center py-5 fs-lg-6 fs-7">
        ©Vivre 2024 All right Reserved
      </p>
    </div>
  </div>
</footer>
